<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - 'My site'</title>
    {% else %}
    <title>Welcome to 'My site'</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
  </head>
   <body>
   {% include "_menu_new.html" %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}" role="alert">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
   {% block content %}
   {% endblock %}
   <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>
   {{ moment.include_moment() }}
   {{ moment.lang('ru') }}
  </body>

{% block footer %} {% endblock %}
<footer>
    <div class="container bg-light">
        <p class="m-0 text-center">
            Посетите наш сайт <a href="http://greatwalk.ru">"Большая прогулка"</a>
        </p>
    </div>
</footer>
</html>
